body, html{
	text-align: center;
	font-family: Helvetica, sans-serif;
}

div.horizontal{
	display:inline;
}

path.country {
	fill: rgba(255,255,255,1);
	stroke: rgba(29,91,85,1);
    stroke-width:  1;
}

path.countryOver{
	fill: hsl(206,10%,75%);
}

.link, .line {
  fill: none;
  stroke: hsla(0.00, 0%, 0%, .2);
  stroke-width: 1.5px;
}

text.graph {
    white-space: pre;
}

g.graphhighlight {
    font-color: hsl(247, 85%, 50%);
    stroke: hsl(247, 85%, 50%);
    fill: hsl(247, 85%, 50%);
}

line.graphhighlight,
path.graphhighlight {
    font-color: hsl(247, 85%, 50%);
    stroke: hsla(247, 85%, 50%, 1);
    fill: none;
}

.invisible {
  display: none;
}

text#tooltip{
	font-size: 14px;
	fill: #020202;
}

svg.map {
	background-color: hsl(206,58%,95%);
	font-weight: bold;
	font-size: 14px;
	fill: #020202;
}

#lltexthead{
	font-size: 20px;
}