@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body, html{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

div.horizontal{
	display:inline;
}

path.country {
	fill: rgba(255,255,255,1);
	stroke: rgba(29,91,85,1);
    stroke-width:  1;
}

path.countryOver{
	fill: hsl(206,10%,75%);
}

.link, .line {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.invisible {
  display: none;
}

text#tooltip{
	font-family: Verdana;
	font-size: 14px;
	fill: #020202;
}

svg.map {
	background-color: hsl(206,58%,95%);
	font-family: Helvetica;
	font-weight: bold;
	font-size: 14px;
	fill: #020202;
}

#lltexthead{
	font-size: 20px;
}